@charset "ISO-8859-1";

body{
	background-color: black;
}

.central{
	display:inline-block;
	position: absolute;
	right: 50%;
	top:45%;
	transform: translateX(50%);
}

.txt-input{
	margin-bottom: 5px;
	text-align: center;
}

#submit{
	position: absolute;
	right: 50%;
	transform: translateX(50%);
}