@charset "ISO-8859-1";

body{
	background-color: black;
}

.central{
	display:inline-block;
	position: absolute;
	right: 50%;
	top:45%;
	transform: translateX(50%);
}

.txt-input{
	margin-bottom: 5px;
	text-align: center;
}

.entrar{
	position: absolute;
	right: 75%;
	transform: translateX(50%);
}

.cadastrar{
	position: absolute;
	right: 30%;
	transform: translateX(50%);
}

h2{
	position: absolute;
	top:-130%;
	right: 50%;
	transform: translateX(50%);
	color: white;
}

p{
	display:inline-block;
	text-align: center;
	position: absolute;
	right: 50%;
	top:52%;
	transform: translateX(50%);
	color: red;
	font-size: 0.9em;
}
