<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_5_0.xsd" version="4.0">
  <display-name>ucsal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExemploServlet</display-name>
    <servlet-name>ExemploServlet</servlet-name>
    <servlet-class>br.ucsal.app.ExemploServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploServlet</servlet-name>
    <url-pattern>/exemplo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverGrupoServlet</display-name>
    <servlet-name>RemoverGrupoServlet</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.RemoverGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RemoverGrupoServlets</display-name>
    <servlet-name>RemoverGrupoServlets</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.RemoverGrupoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverGrupoServlets</servlet-name>
    <url-pattern>/RemoverGrupoServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarMembroServlet</display-name>
    <servlet-name>AdicionarMembroServlet</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.AdicionarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarMembroServlet</servlet-name>
    <url-pattern>/AdicionarMembroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroServlet</display-name>
    <servlet-name>MembroServlet</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.AdicionarMembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroServlet</servlet-name>
    <url-pattern>/MembroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroUsuarioServlet</display-name>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.CadastroUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuarioServlet</servlet-name>
    <url-pattern>/CadastroUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.ucsal.grupo_pesquisa.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>